/build/**
!/build/README

/composefiles/uniconfig/**
!/composefiles/uniconfig/README
/config/uniconfig/frinx/uniconfig/cache/**
/config/krakend/output.json
/config/krakend/partials/tls/**
/config/krakend/partials/uniconfig_host/host.txt
