/build/**
!/build/README

/composefiles/uniconfig/**
!/composefiles/uniconfig/README
/config/uniconfig/frinx/uniconfig/cache/**
/config/krakend/output.json
/config/krakend/partials/tls/**
.env
config/krakend/settings/uniconfig_settings.json
