[submodule "conductor"]
	path = conductor
	url = https://github.com/FRINXio/conductor.git
	branch = master
[submodule "frinx-uniconfig-ui"]
	path = frinx-uniconfig-ui
	url = https://github.com/FRINXio/frinx-uniconfig-ui
[submodule "frinx-dashboard"]
	path = frinx-dashboard
	url = https://github.com/FRINXio/frinx-dashboard
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/FRINXio/api-gateway
[submodule "uniflow-api"]
	path = uniflow-api
	url = https://github.com/FRINXio/uniflow-api
[submodule "uniflow-ui"]
	path = uniflow-ui
	url = https://github.com/FRINXio/uniflow-ui
