
##########################################
# COMMON SETTINGS
##########################################


##########################################
# TEMPORARY SETTINGS
##########################################

# These settings are configured by ./install.sh and ./startup.sh scripts !!!
# Do not change them !!!

