
##########################################
# COMMON SETTINGS
##########################################

# Enable/Disable Azure Active Directory authorization
JWT_PRODUCTION="false"
# Single / Multi tenant MSAL configuration
# For single tenant AD, set tenant id to AZURE_TENANT_NAME
# For mlti tenant AD, set 'common' to AZURE_TENANT_NAME
AZURE_LOGIN_URL="https://login.microsoftonline.com"
AZURE_TENANT_NAME="common"
AZURE_TENANT_ID="06e51546_df15_4e3a_9534_f049820ab0c5"
AZURE_CLIENT_ID="366fab79-6c61-4a24-8c2c-b2be2f48fe35"
AZURE_CLIENT_SECRET="7OA7Q~RL5pELYji-kU59UfStGoRVGco8f20~K"
REDIRECT_URI="localhost"

ADMIN_GROUP=network-admin
##########################################
# TEMPORARY SETTINGS
##########################################

# These settings are configured by ./install.sh and ./startup.sh scripts !!!
# Do not change them !!!

# Uniconfig proxy settings 
# These settings are configured by ./install script
# For more info see README.md
UC_PROXY_HTTP_ENV="" 
UC_PROXY_HTTP_PORT_ENV=""
UC_PROXY_HTTPS_ENV=""
UC_PROXY_HTTPS_PORT_ENV=""
UC_PROXY_NOPROXY_ENV=""

