
##########################################
# COMMON SETTINGS
##########################################
# Define tag of frinx/krakend image. Is used for for starting FM service krakend
# or as a base image for building krakend docker image with uniconfig certificates
# Allowed symbols in variable are underscore, dash, dots, numbers, a-z
BASE_KRAKEND_IMAGE_TAG="latest"

# Define KrakenD tag, which is used for building local KrakenD image with uniconfig certificates.
# If is empty, then is used BASE_KRAKEND_IMAGE_TAG tag
# Allowed symbols in variable are underscore, dash, dots, numbers, a-z
LOCAL_KRAKEND_IMAGE_TAG=""

# Define name of uniconfig service. Is used for declaring UNICONFIG_API_URL in Inventory service.
# Current inventory version can work with 1 uc zone only (single node deployment)
# INVENTORY_UNICONFIG_URL_ENV="uniconfig"

##########################################
# TEMPORARY SETTINGS
##########################################

# These settings are configured by ./install.sh and ./startup.sh scripts !!!
# Do not change them !!!

# Uniconfig proxy settings 
# These settings are configured by ./install script
# For more info see README.md
UC_PROXY_HTTP_ENV="" 
UC_PROXY_HTTP_PORT_ENV=""
UC_PROXY_HTTPS_ENV=""
UC_PROXY_HTTPS_PORT_ENV=""
UC_PROXY_NOPROXY_ENV=""

