{{ $protocol := env "KRAKEND_TLS_PROTOCOL" }}

{{range $index_in_range, $not_used_element := $.range}}
{{if gt $index_in_range 0}},{{end}}
{
    "endpoint": "{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],

    "backend": [
    {
        "url_pattern": "{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "host": [
            "frinx-frontend:8888"
        ]
    }
]
}
{{if ne $index_in_range 0}}
,{
    "endpoint": "{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}/",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],

    "backend": [
    {
        "url_pattern": "{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "host": [
            "frinx-frontend:8888"
        ]
    }
]
}
{{end}}
{{end}}
,
{
    "@comment": "Return dict of services with enable status",

    "endpoint": "/static/services/enabled",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/__health",
            "extra_config": {
                {{ include "modifiers.tmpl" }}
            },
            "host": [ "{{$protocol}}://krakend:8080/" ],
            "allow": [
                "workflow-manager",
                "uniconfig",
                "inventory",
                "resource-manager",
                "l3vpn",
                "device-topology"
            ]
        }
    ],
   
    "extra_config": {
        "proxy": {
            "static": {
                "strategy": "always",
                "data": {
                    "workflow-manager": "{{ env "WORKFLOW_MANAGER_ENABLED" }}",
                    "uniconfig": "{{ env "UNICONFIG_ENABLED" }}",
                    "inventory": "{{ env "INVENTORY_ENABLED" }}",
                    "resource-manager": "{{ env "RESOURCE_MANAGER_ENABLED" }}",
                    "l3vpn": "{{ env "L3VPN_ENABLED" }}",
                    "device-topology": "{{env "DEVICE_TOPOLOGY_ENABLED" }}"
                }
            }
        }
    }
}
