
{{range $index_in_range, $not_used_element := $.range}}
{{if gt $index_in_range 0}},{{end}}
{
    "endpoint": "/{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
    "method": "GET",
    "output_encoding": "no-op",
    "headers_to_pass": ["*"],

    "backend": [
    {
        "url_pattern": "{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if lt $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "host": [
            "frinx-frontend:8888"
        ]
    }
]
}
{{end}}