{
    "endpoint": "{{ .operations_endpoint.endpoint }}",
    "method": "{{ .operations_endpoint.method }}",
    {{ include "uniconfig_partial_1.tmpl" }}
    "backend": [
    {
        "url_pattern": "{{ .operations_endpoint.url_pattern }}",
        {{ include "uniconfig_partial_2.tmpl" }}
        {{ include "uniconfig_host/host.txt" }}
    }
]
},

{{range $method_index, $method := .methods}}
{{if gt $method_index 0}},{{end}}

{{range $index_in_range, $not_used_element := $.range}}
{{if gt $index_in_range 0}},{{end}}

{
    "endpoint": "/api/rests/uniconfig/data{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
    "method": "{{$method}}",
    {{ include "uniconfig_partial_1.tmpl" }}
    "backend": [
    {
        "url_pattern": "/rests/data{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
        {{ include "uniconfig_partial_2.tmpl" }}
        {{ include "uniconfig_host/host.txt" }}
    }
]
}

{{end}}

{{end}}