{{range $index, $element := .}}
{{if gt $index 0}},{{end}}
{
    "endpoint": "{{ .endpoint }}",
    "method": "{{ .method }}",
    "output_encoding": "no-op",
    "headers_to_pass": ["*"],

    {{ if .querystring_params }}
    "querystring_params": [ 
        {{range $query_enabled, $query := .querystring_params}} {{if gt $query_enabled 0}},{{end}} "{{$query}}" {{ end }} 
        ],
    {{end}}


    "backend": [
    {
        "url_pattern": "{{ .url_pattern }}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "extra_config": {
            "github.com/devopsfaith/krakend-martian": {
                "fifo.Group": {
                    "scope": ["request", "response"],
                    "aggregateErrors": true,
                    "modifiers": [
                        {
                            "header.Modifier": {
                                "scope": ["request"],
                                "name": "Accept-Encoding",
                                "value": "identity"
                            }
                        }
                    ]
                }
              }
        },
        "host": [
            "workflow-proxy:8088"
        ]
    }
]
}
{{end}},
{
    "endpoint": "/api/uniflow/docs/token",
    "method": "POST",
    "output_encoding": "no-op",
    "headers_to_pass": ["*"],
    "querystring_params":[  
        "*"
    ],
    "backend": [
        {
            "url_pattern": "/{{ env "AZURE_TENANT_NAME"}}/oauth2/v2.0/token",
            "encoding": "no-op",
            "sd": "static",
            "disable_host_sanitize": false,
            "extra_config": {
                "github.com/devopsfaith/krakend-martian": {
                    "fifo.Group": {
                        "scope": ["request", "response"],
                        "aggregateErrors": true,
                        "modifiers": [
                            {
                                "header.Modifier": {
                                    "scope": ["request"],
                                    "name": "Accept-Encoding",
                                    "value": "identity"
                                }
                            },
                            {
                                "header.Modifier": {
                                    "scope": ["request","response"],
                                    "name": "Access-Control-Allow-Origin",
                                    "value": "*"
                                }
                            },
                            {
                                "header.Modifier": {
                                    "scope": ["request", "response"],
                                    "name": "Access-Control-Allow-Headers",
                                    "value": "X-Requested-With"
                                }
                            }
                        ]
                    }
                }
            },
            "host": [
                "{{ env "AZURE_LOGIN_URL"}}"
            ]
        }
    ]
}