{{range $index, $element := .}}
{{if gt $index 0}},{{end}}
{
    "endpoint": "{{ .endpoint }}",
    "method": "{{ .method }}",
    "output_encoding": "no-op",
    "headers_to_pass": ["*"],

    {{ if .querystring_params }}
    "querystring_params": [ 
        {{range $query_enabled, $query := .querystring_params}} {{if gt $query_enabled 0}},{{end}} "{{$query}}" {{ end }} 
        ],
    {{end}}

    "extra_config": {
        {{ $jwt_production := env "AUTH_ENABLED" }}
        {{ if eq $jwt_production "true" }}
            {{ include "jwt_config.tmpl" }}
        {{ else if eq $jwt_production "false" }}
            {{ include "jwt_fake_config.tmpl" }}
        {{ end }}
    },

    "backend": [
    {
        "url_pattern": "{{ .url_pattern }}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "extra_config": {
            "github.com/devopsfaith/krakend-martian": {
                "fifo.Group": {
                    "scope": ["request", "response"],
                    "aggregateErrors": true,
                    "modifiers": [
                        {
                            "header.Modifier": {
                                "scope": ["request"],
                                "name": "Accept-Encoding",
                                "value": "identity"
                            }
                        },
                        {
                            "header.Modifier": {
                                "scope": ["response"],
                                "name": "Content-Type",
                                "value": "application/json; charset=utf-8"
                            }
                        }
                    ]
                }
              }
        },
        "host": [
            "workflow-proxy:8088"
        ]
    }
]
}
{{end}}