<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" debug="true" scanPeriod="5 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="logs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${SERVICE_NAME}/${CONTAINER_ID}/logs.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/logs.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="netconf-notifications" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="io.lighty.discriminator.MarkerBasedDiscriminator">
            <key>deviceName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${deviceName}-netconf-notifications" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-notifications/${deviceName}.log</file>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <maxIndex>20</maxIndex>
                    <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-notifications/${deviceName}.log.%i</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>16MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>
    <appender name="netconf-messages" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="io.lighty.discriminator.MarkerBasedDiscriminator">
            <key>deviceName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${deviceName}-netconf-messages" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-messages/${deviceName}.log</file>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <maxIndex>20</maxIndex>
                    <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-messages/${deviceName}.log.%i</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>16MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>
    <appender name="netconf-events" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="io.lighty.discriminator.MarkerBasedDiscriminator">
            <key>deviceName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${deviceName}-netconf-events" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-events/${deviceName}.log</file>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <maxIndex>20</maxIndex>
                    <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/netconf-events/${deviceName}.log.%i</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>16MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>
    <appender name="restconf" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${SERVICE_NAME}/${CONTAINER_ID}/restconf.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/restconf.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="cli-messages" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="io.lighty.discriminator.MarkerBasedDiscriminator">
            <key>deviceName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${deviceName}-cli-messages" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>log/${SERVICE_NAME}/${CONTAINER_ID}/cli-messages/${deviceName}.log</file>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <maxIndex>20</maxIndex>
                    <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/cli-messages/${deviceName}.log.%i</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>16MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="gnmi" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${SERVICE_NAME}/${CONTAINER_ID}/gnmi.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss} %level %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/gnmi.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>16MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="metrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${SERVICE_NAME}/${CONTAINER_ID}/metrics.log</File>
        <encoder>
            <pattern> uniconfig,zone=${SERVICE_NAME},instance=${CONTAINER_ID} %replace(%replace(%msg){'=','="'}){', ','",'}"%n </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>log/${SERVICE_NAME}/${CONTAINER_ID}/metrics.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>16MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- used for automatic propagation of set logger level to JUL logging implementation -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logs"/>
    </root>

    <!-- UniConfig layer part -->
    <logger name="io.frinx.uniconfig" level="INFO"/>

    <!-- Unified layer part -->
    <logger name="io.frinx.unitopo" level="INFO"/>

    <!-- NETCONF part -->
    <logger name="org.opendaylight.netconf" level="INFO"/>

    <!-- CLI part -->
    <logger name="io.frinx.cli" level="INFO"/>

    <!-- SSH part (used by CLI and NETCONF) -->
    <logger name="org.apache.sshd" level="INFO"/>

    <!-- translation unit framework part -->
    <logger name="io.frinx.translate.unit.commons" level="INFO"/>
    <logger name="io.fd.honeycomb" level="INFO"/>

    <logger name="io.lighty.gnmi" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logs"/>
        <appender-ref ref="gnmi"/>
    </logger>

    <!-- RESTCONF part -->
    <logger name="org.opendaylight.restconf" level="INFO"/>
    <logger name="org.opendaylight.aaa" level="INFO"/>

    <!-- controller part -->
    <logger name="org.opendaylight.daexim" level="INFO"/>
    <logger name="org.opendaylight.controller" level="INFO"/>
    <logger name="org.opendaylight.yangtools" level="INFO"/>

    <!-- Kafka -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="INFO"/>

    <!-- Metrics -->
    <logger name="io.frinx.uniconfig.metrics" level="INFO" additivity="false">
        <appender-ref ref="metrics"/>
    </logger>

    <!-- PostgreSQL driver -->
    <logger name="org.postgresql" level="INFO"/>

    <!-- do not modify this part, we should use RESTCONF RPCs for controlling of logging brokers -->
    <logger name="org.opendaylight.restconf.nb.rfc8040.jersey.providers.logging.RestconfLoggingBroker" level="INFO" additivity="false">
        <appender-ref ref="restconf"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.opendaylight.netconf.logging.brokers.NetconfMessagesLoggingBroker" level="INFO" additivity="false">
        <appender-ref ref="netconf-messages"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.opendaylight.netconf.logging.brokers.NotificationsLoggingBroker" level="INFO" additivity="false">
        <appender-ref ref="netconf-notifications"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.opendaylight.netconf.logging.brokers.NetconfEventsLoggingBroker" level="INFO" additivity="false">
        <appender-ref ref="netconf-events"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.frinx.cli.io.impl.cli.CliLoggingBroker" level="INFO" additivity="false">
        <appender-ref ref="cli-messages"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>