{
    "header.Modifier": {
        "scope": ["request"],
        "name": "x-tenant-id",
        "value":  "frinx"
    }
},
{
    "header.Modifier": {
        "scope": ["request"],
        "name": "x-auth-user-groups",
        "value": "network-admin"
    }
}